# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/.out
/node_modules

# dependencies
/node_modules
/storybook-static
/.jest-test-results.json
/@vue
/libs/**/node_modules/
/libs/**/dist/
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/test-reports/
/storybook-static

# System Files
.DS_Store
Thumbs.db

.angulardoc.json
